


/*Folha de Estilo secundária*/
/*Author: Rafael Dias*/

:root {

    /* Cores */
   --primary-font: "Montserrat", sans-serif;
   --primary-bg-gradient: linear-gradient(295deg, rgb(28, 35, 46) 0%, rgb(61, 93, 124) 0%, rgb(44, 26, 54) 100%, rgb(151, 119, 211) 100%);   
   --primary-color: #313131;   
   --secondary-color: #1b1b1b;
   --layout-color:rgb(255, 255, 255);
   --link-color: #297391;   
   --success: #81C784;    
   --dark: #202125;
  
   --Cor-do-layout:#ffffff;  
  
}

/* Reset */

*, *::before, *::after{
box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;  
font-family: var(--primary-font);


}

/* Resets para navegadores antigos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}body{line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}


.v-main {
  background:rgb(248, 248, 248); 
}
.fade-enter-active, .fade-leave-active { 
    transition: all .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


/* repairs vuetify */

.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
    align-items: stretch;
    min-height: 51px!important;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .v-text-field.v-text-field--enclosed .v-text-field__details {
      margin-bottom: 0!important;
  }  


.center {
   margin-left: auto!important;
   margin-right: auto!important;
}

.v-application a {
    text-decoration: none;
}
.w-85 {
  width: 85%;
}
.width-95{
    max-width: 95%;
  } 
  .width-85{
    max-width: 95%;
  }
  @media only screen and (min-width: 1905px)  {  
    .df-width {
      max-width: 1335px!important;
      width: 100%!important;
      margin: 0 auto!important;
    } 
}

@media only screen and (max-width: 904px)  {  
  .df-width {    
    width: 80%!important;    
  } 
}

  